In [1]:
#https://archive.ics.uci.edu/ml/machine-learning-database/pima-indians-diabetes/pima-indians-diabetes.data

In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

import seaborn as sns
%matplotlib inline

In [3]:
pima= pd.read_csv('pima.csv')

In [4]:
pima.head()

   6  148  72  35    0  33.6  0.627  50  1
0  1   85  66  29    0  26.6  0.351  31  0
1  8  183  64   0    0  23.3  0.672  32  1
2  1   89  66  23   94  28.1  0.167  21  0
3  0  137  40  35  168  43.1  2.288  33  1
4  5  116  74   0    0  25.6  0.201  30  0

In [5]:
pima.tail()

      6  148  72  35    0  33.6  0.627  50  1
762  10  101  76  48  180  32.9  0.171  63  0
763   2  122  70  27    0  36.8  0.340  27  0
764   5  121  72  23  112  26.2  0.245  30  0
765   1  126  60   0    0  30.1  0.349  47  1
766   1   93  70  31    0  30.4  0.315  23  0

In [6]:
pima.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 767 entries, 0 to 766
Data columns (total 9 columns):
6        767 non-null int64
148      767 non-null int64
72       767 non-null int64
35       767 non-null int64
0        767 non-null int64
33.6     767 non-null float64
0.627    767 non-null float64
50       767 non-null int64
1        767 non-null int64
dtypes: float64(2), int64(7)
memory usage: 54.1 KB

In [7]:
pima.describe

<bound method NDFrame.describe of       6  148  72  35    0  33.6  0.627  50  1
0     1   85  66  29    0  26.6  0.351  31  0
1     8  183  64   0    0  23.3  0.672  32  1
2     1   89  66  23   94  28.1  0.167  21  0
3     0  137  40  35  168  43.1  2.288  33  1
4     5  116  74   0    0  25.6  0.201  30  0
..   ..  ...  ..  ..  ...   ...    ...  .. ..
762  10  101  76  48  180  32.9  0.171  63  0
763   2  122  70  27    0  36.8  0.340  27  0
764   5  121  72  23  112  26.2  0.245  30  0
765   1  126  60   0    0  30.1  0.349  47  1
766   1   93  70  31    0  30.4  0.315  23  0

[767 rows x 9 columns]>

In [8]:
col = ['pregnant', 'glucose', 'bp', 'skin', 'insulin_level', 'bmi', 'pedigree', 'age', 'diabetes_level']

In [9]:
pima = pd.read_csv('pima.csv', names=col)

In [10]:
pima.head()

,pregnant,glucose,bp,skin,insulin_level,bmi,pedigree,age,diabetes_level
0,6,148,72,35,0,33.6,0.627,50,1
1,1,85,66,29,0,26.6,0.351,31,0
2,8,183,64,0,0,23.3,0.672,32,1
3,1,89,66,23,94,28.1,0.167,21,0
4,0,137,40,35,168,43.1,2.288,33,1

In [11]:
pima.tail()

,pregnant,glucose,bp,skin,insulin_level,bmi,pedigree,age,diabetes_level
763,10,101,76,48,180,32.9,0.171,63,0
764,2,122,70,27,0,36.8,0.340,27,0
765,5,121,72,23,112,26.2,0.245,30,0
766,1,126,60,0,0,30.1,0.349,47,1
767,1,93,70,31,0,30.4,0.315,23,0

In [12]:
pima.count()

pregnant          768
glucose           768
bp                768
skin              768
insulin_level     768
bmi               768
pedigree          768
age               768
diabetes_level    768
dtype: int64

In [13]:
pima.describe()

,pregnant,glucose,bp,skin,insulin_level,bmi,pedigree,age,diabetes_level
count,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000
mean,3.845052,120.894531,69.105469,20.536458,79.799479,31.992578,0.471876,33.240885,0.348958
std,3.369578,31.972618,19.355807,15.952218,115.244002,7.884160,0.331329,11.760232,0.476951
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.078000,21.000000,0.000000
25%,1.000000,99.000000,62.000000,0.000000,0.000000,27.300000,0.243750,24.000000,0.000000
50%,3.000000,117.000000,72.000000,23.000000,30.500000,32.000000,0.372500,29.000000,0.000000
75%,6.000000,140.250000,80.000000,32.000000,127.250000,36.600000,0.626250,41.000000,1.000000
max,17.000000,199.000000,122.000000,99.000000,846.000000,67.100000,2.420000,81.000000,1.000000

In [14]:
features = ['pregnant', 'insulin_level', 'bmi', 'age']

In [15]:
x = pima[features]
y = pima.diabetes_level

In [16]:
from sklearn.model_selection import train_test_split

In [17]:
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size = 0.3, random_state = 0)

In [18]:
from sklearn.linear_model import LogisticRegression

In [19]:
log_reg = LogisticRegression()
log_reg.fit(x_train, y_train)

C:\ProgramData\Anaconda3\lib\site-packages\sklearn\linear_model\logistic.py:432: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
                   intercept_scaling=1, l1_ratio=None, max_iter=100,
                   multi_class='warn', n_jobs=None, penalty='l2',
                   random_state=None, solver='warn', tol=0.0001, verbose=0,
                   warm_start=False)

In [20]:
y_pred = log_reg.predict(x_test)

In [21]:
from sklearn import metrics

In [22]:
print(metrics.accuracy_score(y_test, y_pred))

0.696969696969697

In [23]:
#Evaluation

In [24]:
y_test.value_counts()

0    157
1     74
Name: diabetes_level, dtype: int64

In [25]:
y_test.mean()

0.3203463203463203

In [26]:
print("True diabetes label : ", y_test.values[0:10])
print("Predicted diabetes label : ", y_pred[0:10])

True diabetes label :  [1 0 0 1 0 0 1 1 0 0]
Predicted diabetes label :  [0 0 0 0 0 0 0 1 0 1]

In [27]:
print(metrics.confusion_matrix(y_test, y_pred))

[[142  15]
 [ 55  19]]

In [28]:
# ACC = (TP + TN)/(TP + TN + FP + FN)
# err = (FP + FN)/(TP + TN + FP + FN)